---
layout: default
permalink: /
title: home
<!-- pagination: 
  enabled: true
  permalink: /:num/ -->
---

<div class="post-list-intro">

  <h1 class="post-list-category">Latest Posts</h1>

</div>


<ul class="post-list-contents" id="post-lists">
  {% for post in site.posts limit:10 %}
    <li class="post-list-content"><a href="{{ post.url }}">
      <h2 class="post-list-title">{{ post.title }}</h2>
      <div class="post-list-excerpt">{% include excerpt_list.html %}</div>
      <div class="post-list-category-name">{{ post.list }} &ensp;|</div>
      <div class="post-list-date">{{ post.date | date_to_string | date: "%b %d, %Y" }}</div>
    </a></li>
  {% endfor %}
</ul>


<!-- <div class="post-view-more-container">
  <div class="post-view-more-btn" id="post-view-more-btn">
      <h3>View More</h3>
  </div>
  <div class="post-no-more-list" id="post-no-more-list">
    <h3>⏤ No More Posts ⏤</h3>
  </div>
</div>


<script>
    var postWrapperId = 'post-lists';
    var paginatePath = '/';
    var viewMoreBtnId = 'post-view-more-btn';
    var noMoreListId = 'post-no-more-list';
    new InfiniteScroll(paginatePath, postWrapperId, viewMoreBtnId, noMoreListId);
</script> -->
