<div class="post-list-intro">
  <div class="post-list-category">{{page.list}}</div>
  <div class="post-list-categoryinfo">{{page.description}}</div>
</div>

<ul class="post-list-contents" id="post-lists">
  {% for post in site.categories.[page.category] %}
  <li class="post-list-content">
    <a href="{{ post.url }}">
      <div class="post-list-title">{{ post.title }}</div>
      <div class="post-list-category-name">{{ post.list }} &ensp;|</div>
      <div class="post-list-date">
        {{ post.date | date_to_string | date: "%b %d, %Y" }}
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
