
<div class="topmenu-tablet">

  <div class="topmenu-tablet-list">
    <span class="tablet-close-btn" onclick="closeTablet()">&times;</span>
    {% include topmenu_tablet.html %}
  </div>

    <span class="tablet-open-btn" onclick="openTablet()">&#9776;</span>

</div>



<div class="topmenu-mobile">

  <div class="topmenu-mobile-list">
    <span class="mobile-close-btn" onclick="closeMobile()">&times;</span>
    {% include topmenu_mobile.html %}
  </div>

    <span class="mobile-open-btn" onclick="openMobile()">&#9776;</span>

</div>

