//=================================================

blockquote {
  border-left: .25rem solid var(--line-light);
  margin: 0 0 0 1.25rem;
  padding-left: 1.25rem;
}

ol {
  line-height: 1.6;
  margin: 0.5rem 0;
}

ul {
  line-height: 1.6;
  margin: 0.5rem 0;

  ol {
    line-height: normal;
  }
}

ol ul {
  line-height: normal;
}

li {
  padding: 0;
  margin: 0.2rem 0;
}

p {
  margin: 0.2rem 0;
}

h1 {
  margin: 0.75rem 0 0.4rem;
  color: var(--main-mid);  
  font-size: 1.9rem;
}

h2 {
  margin: 0.75rem 0 0.4rem;
  color: var(--main-mid);
  font-size: 1.7rem;
}

h3 {
  margin: 0.4rem 0;
  color: var(--main-mid);
  font-size: 1.15rem;
}

h4 {
  margin: 0.4rem 0;
  color: var(--main-dark);
  font-size: 1.15rem;
}

h5 {
  margin: 0.3rem 0;
  font-size: 1.1rem;
}

h6 {
  margin: 0.2rem 0;
  color: var(--highlight);
  font-size: 1rem;
  font-weight: lighter;
}

hr {
  border-color: var(--line);
  border-style: solid;
  margin: 1rem 0;
}

ul ul ul ul {
    list-style-type: circle;
}

mark {
  background-color:  var(--highlight);
  padding: 0 .2rem;
  border-radius: 2.5px;
}


//=================================================

pre code {
  font-family: Menlo;
  font-size: 0.8125em;
  line-height: 1.4;

  @media (max-width: $mobile-max) {
    font-size: 0.65rem;
    line-height: 1.5;
  }
}

code {
  font-family: Menlo;
  font-size: 0.9em;
  line-height: 1.4;

  @media (max-width: $mobile-max) {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}

.highlight {
  margin: 0;
  overflow-x: scroll; // overflow in code block, in case code is too long.
  -ms-overflow-style: none;

  code {
    // white-space: pre-wrap; // for the case that doesn't use overflow.
    // word-wrap: break-word; // for the case that doesn't use overflow.
  }

  pre {
    padding: .4rem .36rem;
  }
}

.highlight::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}


.highlighter-rouge {
  border: .0625rem solid;
  border-color: var(--code-border);
  border-radius: .4375rem;
  // box-sizing: border-box;
  margin: .6rem .125rem;
  padding: .125rem .3125rem;
}


//=================================================
// background
.highlight pre { background-color: var(--code-background); }
.highlighter-rouge { background-color: var(--code-background); }
.highlight .hll { background-color: var(--code-background); }

//=================================================
// others
.highlight .err { color: var(--code-red); } // error
.highlight .o { color: var(--code-lightgrey); } // operator
.highlight .ow { color: var(--code-pink); } // operator.word
.highlight .x { color: var(--code-lightgrey); } // other
.highlight .p { color: var(--code-lightgrey); } // punctuation
.highlight .w { color: var(--code-lightgrey); } // text.whitespace

//=================================================
// comment
.highlight .c {color: var(--code-comment); } // comment
.highlight .cm { color: var(--code-comment); } // comment.multiline
.highlight .cp { color: var(--code-pink); } // comment.preproc //e.g. #include
.highlight .c1 { color: var(--code-comment); } // comment.single
.highlight .cs { color: var(--code-comment); } // comment.special


//=================================================
// generic
.highlight .g { color: var(--code-lightgrey); } // generic
.highlight .gd { color: var(--code-red); } // generic.deleted
.highlight .ge { color: var(--code-lightgrey); } // generic.emphasize
.highlight .gr { color: var(--code-red); } // generic.error
.highlight .gh { color: var(--code-lightgrey); font-weight: bold; } // generic.heading
.highlight .gi { color: var(--code-green); } // generic.insert
.highlight .go { color: var(--code-lightgrey); } // generic.output
.highlight .gp { color: var(--code-lightgrey); } // generic.prompt
.highlight .gs { color: var(--code-lightgrey); font-weight: bold; } // generic.strong
.highlight .gu { color: var(--code-lightgrey); } // generic.subheading
.highlight .gt { color: var(--code-red); } // generic.traceback


//=================================================
// keyword
.highlight .k { color: var(--code-pink); } // keyword
.highlight .kc { color: var(--code-purple); } // keyword.constant
.highlight .kd { color: var(--code-pink); } // keyword.declaration
.highlight .kn { color: var(--code-pink); } // keyword.namespace
.highlight .kp { color: var(--code-pink); } // keyword.pseudo
.highlight .kr { color: var(--code-pink); } // keyword.reserved
.highlight .kt { color: var(--code-blue); } // keyword.type

//=================================================
// name
.highlight .n { color: var(--code-lightgrey); } // name
.highlight .na { color: var(--code-lightgrey); } // name.attribute
.highlight .nb { color: var(--code-purple); } // name.builtin
.highlight .nc { color: var(--code-blue); } // name.class
.highlight .no { color: var(--code-green); } // name.constant
.highlight .nd { color: var(--code-orange); } // name.decorator
.highlight .ni { color: var(--code-lightgrey); } // name.entity
.highlight .ne { color: var(--code-orange); } // name.exception
.highlight .nf { color: var(--code-green); } // name.function
.highlight .nl { color: var(--code-blue); } // name.label
.highlight .nn { color: var(--code-green); } // name.namespace
.highlight .nx { color: var(--code-lightgrey); } // name.other
.highlight .py { color: var(--code-lightgrey); } // name.property
.highlight .nt { color: var(--code-pink); } // name.tag
.highlight .nv { color: var(--code-green); } // name.variable
.highlight .bp { color: var(--code-purple); } // name.builtin.pseudo
.highlight .vc { color: var(--code-green); } // name.variable.class
.highlight .vg { color: var(--code-green); } // name.variable.global
.highlight .vi { color: var(--code-green); } // name.variable.instance

//=================================================
// literal
.highlight .l { color: var(--code-lightgrey); } // literal
.highlight .ld { color: var(--code-lightgrey); } // literal.date
.highlight .m { color: var(--code-purple); } // literal.number
.highlight .s { color: var(--code-yellow); } // literal.string
.highlight .mf { color: var(--code-purple); } // literal.number.float
.highlight .mh { color: var(--code-purple); } // literal.number.hex
.highlight .mi { color: var(--code-purple); } // literal.number.integer
.highlight .il { color: var(--code-purple); } // literal.number.integer.long
.highlight .mo { color: var(--code-purple); } // literal.number.oct
.highlight .sb { color: var(--code-yellow); } // literal.string.backtick
.highlight .sc { color: var(--code-yellow); } // literal.string.char
.highlight .sd { color: var(--code-yellow); } // literal.string.doc
.highlight .s2 { color: var(--code-yellow); } // literal.string.double
.highlight .se { color: var(--code-yellow); } // literal.string.escape
.highlight .sh { color: var(--code-yellow); } // literal.string.heredoc
.highlight .si { color: var(--code-yellow); } // literal.string.interpol
.highlight .sx { color: var(--code-orange); } // literal.string.other
.highlight .sr { color: var(--code-yellow); } // literal.string.regex
.highlight .s1 { color: var(--code-yellow); } // literal.string.single
.highlight .ss { color: var(--code-yellow); } // literal.string.symbol

//=================================================

