//=================================================

// Main Colors
$color-bg: #181b1e;
$color-bg-dark: #121517;
$color-text: #CCCCCC;
$color-text-dim: #999999;
$color-border: #23272b;
$color-border-light: mix($color-border, #ffffff, 93%);
$color-menu: #67B1BF;   // Blue
$color-link: #67B1BF;
$color-link-hover: #5e93bf;

//=================================================

// code block colors
$hl-comment: #4F5459;
$hl-pink: #C78B97;
$hl-red: #C66363;
$hl-lightgrey: #C2C5C3;
$hl-orange: #D48044;
$hl-yellow: #D1B06F;
$hl-purple: #916AA1; // built-in constant, user-defined constant
$hl-green: #9CB550; // constant, function, class/type, inserted
$hl-blue: #80A2BE; // class

//=================================================

// Post Contents
:root {
  --post-red: #BF6777;    // emphasize
  --post-purple: #9067BF;    // heading
  --post-green: #89BF67;    // example
  --post-yellow: #BF9B67;    // etc
  --post-blue: #67B1BF;    // menu
  --post-white: #CCCCCC;    // contents
}

//=================================================
