.post-list-excerpt-pc {
  display: none;

  @media (min-width: $desktop-min) {
    display: block;
  }
}

.post-list-excerpt-tablet {
  display: none;

  @media (max-width: $tablet-max) and (min-width: $tablet-min) {
    display: block;
  }
}

.post-list-excerpt-mobile {
  display: none;

  @media (max-width: $mobile-max) {
    display: block;
  }
}
