//=================================================

.page {
  height: 100vh;
  padding-left: $sidebar-width;

  @media (max-width: $tablet-max) {
    padding-left: 0;
    transition: margin-left .5s;
  }
}

.page-content {
  min-height: inherit;
  padding: 5rem 13% 4.375rem;

  @media (max-width: $tablet-max) {
    padding: 5rem 13% 4.375rem;
  }

  @media (max-width: $mobile-max) {
    padding: 5rem 7% 4.375rem;
  }
}

//=================================================

// Categories Post List "Intro" Styles
.post-list-intro {
  // background-color: #074080; //for test
  height: auto;
  padding: .625rem 0 .9375rem;
}

.post-list-category {
  margin: 0;
  padding: 0 .625rem;
}

.post-list-categoryinfo {
  color: $color-text-dim;
  margin: 0;
  padding: .1875rem .625rem 0;
}


// Categories Post List "Intro" Styles
.post-list-contents {
  border-top: .0625rem solid;
  border-top-color: $color-border;
  height: auto;
  padding-inline-start: 0;

  a {
    display: block;
    text-decoration: none;

    &:hover {
      background-color: mix($color-bg, #000000, 80%);
    }
  }
}

.post-list-content {
  border-bottom: .0625rem solid;
  border-bottom-color: $color-border;
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-list-title {
  color: $color-menu;
  font-weight: 400;
  font-size: 1.3125rem;
  margin: 0;
  padding: .9375rem .625rem .75rem;
}

.post-list-excerpt {
  color: $color-text;
  font-size: .9375rem;
  margin: 0;
  padding: 0 .625rem;

  p {
    margin: 0;
  }
}

.post-list-category-name {
  color: $color-text-dim;
  display: inline-block;
  font-size: .875rem;
  margin: 0;
  padding: 0 0 1.4375rem .625rem;
}

.post-list-date {
  color: $color-text-dim;
  display: inline-block;
  font-size: .75rem;
  margin: 0;
  padding: .5rem .3125rem .9375rem;
  text-transform: uppercase;
}


//=================================================
// Post Contents (blog contents) Styles
.post-intro {
  border-bottom: .0625rem solid;
  border-bottom-color: $color-border-light;
  padding: 0 0 .9375rem;
}

.post-intro-contents {
  padding: 0 .625rem;
}

.post-category {
  color: $color-menu;
  font-size: 1.125rem;

  @media (max-width: $mobile-max) {
    font-size: 1rem;
  }
}

.post-title {
  color: $color-text;
  font-size: 2rem;
  margin: 0;
  line-height: 1.2;
  padding: .625rem 0;

  @media (max-width: $mobile-max) {
    font-size: 1.75rem;
  }
}

.post-penname {
  color: $color-text-dim;
  display: inline-block;
  font-size: 1rem;

  @media (max-width: $mobile-max) {
    font-size: .875rem;
  }
}

.post-date {
  color: $color-text-dim;
  display: inline-block;
  font-size: .875rem;
  padding-left: .3125rem;
  text-transform: uppercase;

  @media (max-width: $mobile-max) {
    font-size: .75rem;
  }
}

.post-contents {
  font-size: 1.0625rem;
  font-weight: 200;
  padding: .9375rem .625rem 0;

  p {
    line-height: 1.6;
  }

  h1,
  h2
  {
    color: var(--post-purple);
  }
  h3,
  h4,
  h5,
  h6
  {
    color: var(--post-blue);
  }
  
  p,
  ul{
    color:var(--post-white);
  }
  
  strong{
    color:var(--post-green);
  }
  em{
    color:var(--post-yellow);
  }
  del{
    color:var(--post-red);
  }
  a{
    color:var(--post-grey);
  }
  @media (max-width: $mobile-max) {
    font-size: .9375rem;
  }

  ul, ol {
    @media (max-width: $mobile-max) {
      padding-inline-start: .93rem;
      margin-left: .31rem;
    }
  }

  dl {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  dd {
    @media (max-width: $mobile-max) {
      margin-inline-start: 20px;
    }
  }
}


//=================================================
// Post Styles for multiple posts on one page (e.g. log.html)

.post-multiple {
  border-top: .0625rem solid;
  border-top-color: $color-border-light;
  padding: 0;
}

.post-multiple-block {
  border: 0.1rem solid;
  border-color: $color-border-light;
  border-radius: 1.5rem;
  margin: 2.5rem .1rem 3rem;
  padding: .8rem;
}

.post-multiple-intro-contents {
  border-bottom: .0625rem solid;
  border-bottom-color: $color-border-light;
  padding: .9375rem .625rem;
}

.post-multiple-title {
  color: $color-text;
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 0;
  padding: .3rem 0;

  @media (max-width: $mobile-max) {
    font-size: 1.75rem;
  }
}

.post-multiple-penname {
  color: $color-text-dim;
  display: inline-block;
  font-size: 0.875rem;

  @media (max-width: $mobile-max) {
    font-size: .75rem;
  }
}

.post-multiple-date {
  color: $color-text-dim;
  display: inline-block;
  font-size: .875rem;
  padding-left: .3125rem;
  text-transform: uppercase;

  @media (max-width: $mobile-max) {
    font-size: .75rem;
  }
}

.post-multiple-contents {
  font-size: 1rem;
  font-weight: 200;
  padding: .9375rem .625rem;

  p {
    line-height: 1.6;
  }

  @media (max-width: $mobile-max) {
    font-size: .9rem;
  }
}


//=================================================

iframe{

}