//=================================================

// sidebar
.sidebar {
  @media (min-width: $desktop-min) {
    background-color: mix($color-bg, #000000, 75%);
    bottom: 0;
    display: block;
    float: left;
    height: auto;
    left: 0;
    overflow: auto;
    -ms-overflow-style: none;
    position: fixed;
    top: 0;
    width: $sidebar-width;
  }

  @media (max-width: $tablet-max) {
    display: none;
  }
}

.sidebar::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}


// blogger info
.blogger-info {
  height: auto;
  padding: 5rem 10% .9375rem;
  position: relative;
}


// blogger photo
.blogger-photo {
  text-align: center;

  img {
    border-radius: 50%;
    height: $image-size;
    width: $image-size;
    }
}


// blogger name
.blogger-name {
  color: $color-text;
  font-size: 1rem;
  text-decoration: none;
}

//=================================================
// sidebar menu list

.sidebar-menu {
  height: auto;
  min-height: 40vh;
  padding: 0.625rem 10% 1.25rem;
  position: relative;
  text-align: center;
}

.sidebar-menu-position {
  display: inline-block;
  text-align: center;

  a {
    color: $color-text;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;

    &:hover {
      -webkit-text-stroke: 0.03125rem $color-menu;
      color: $color-menu;
    }
  }
}


.menu-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 1.1875rem 0 0.375rem;
  white-space: nowrap;
}

.sidebar-submenu {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 0;
}

.menu-subtitle {
  font-size: 1.0625rem;
  padding: .2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;


  .current {
    -webkit-text-stroke: 0.03125rem $color-menu;
    color: $color-menu;
  }
}

.sidebar-subtitle-number {
  font-size: 0.85rem;
  color: $color-text-dim;
  padding-left: 0.3rem;
}


//=================================================
// footer
.sidebar-footer {
  height: auto;
  padding: 5rem 10% 1.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.links-mail {
  display: inline-block;
  font-size: 1.375rem;
  padding: 0 .4rem;

  a {
    color: $color-text;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;

    svg {
      stroke: $color-text;
    }

    svg:hover {
      stroke: $color-menu;
    }
  }
}

.links-site {
  display: inline-block;
  font-size: 1.375rem;
  padding: 0 .4rem;

  a {
    color: $color-text;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;

    svg {
      fill: $color-text;
    }

    svg:hover {
      fill: $color-menu;
    }
  }
}

.links-github {
  display: inline-block;
  font-size: 1.375rem;
  padding: 0 .4rem;

  a {
    color: $color-text;
    font-style: normal;
    font-size: 2rem;
    text-decoration: none;

    svg {
      fill: $color-text;
    }

    svg:hover {
      fill: $color-menu;
    }
  }
}

.copyrights {
  font-size: .75rem;
  padding-top: .2rem;
  white-space: pre-line;
}

//=================================================
