//=================================================

// topmenu mobile
.topmenu-mobile-listbar {
  bottom: 0;
  display: block;
  float: left;
  height: inherit;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: opacity .5s;
  width: inherit;
  -ms-overflow-style: none;
}

.topmenu-mobile-listbar::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}


// mobile blogger info
.mobile-blogger-info {
  display: block;
  height: auto;
  padding: 5rem 28% .9375rem;
  position: relative;
}


// mobile blogger photo
.mobile-blogger-photo {
  text-align: center;

  img {
    border-radius: 50%;
    height: $image-size-mobile;
    width: $image-size-mobile;
  }
}

//=================================================
// mobile sidebar menu list

.mobile-sidebar-menu {
  height: auto;
  min-height: 40vh;
  padding: 0.625rem 28% 1.25rem;
  position: relative;
  text-align: center;
  width: auto;
}

.mobile-sidebar-menu-position {
  display: inline-block;
  text-align: center;

  a {
    color: $color-text;
    font-size: 1.2rem;
    font-style: normal;
    text-decoration: none;

    &:hover {
      -webkit-text-stroke: 0.03125rem $color-menu;
      color: $color-menu;
    }
  }
}


.mobile-menu-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  padding: 1.1875rem 0 0.375rem;
  white-space: nowrap;
}

.mobile-sidebar-submenu {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 0;
}

.mobile-menu-subtitle {
  padding: .4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .mobile-current {
    -webkit-text-stroke: 0.03125rem $color-menu;
    color: $color-menu;
  }
}

.mobile-sidebar-subtitle-number {
  font-size: 0.85rem;
  color: $color-text-dim;
  padding-left: 0.3rem;
}


//=================================================
// mobile footer
.mobile-sidebar-footer {
  height: auto;
  padding: 5rem 28%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//=================================================
