//=================================================

// topmenu tablet
.topmenu-tablet-listbar {
  bottom: 0;
  display: block;
  float: left;
  height: auto;
  left: 0;
  opacity: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: opacity .5s;
  width: inherit;
  -ms-overflow-style: none;
}

.topmenu-tablet-listbar::-webkit-scrollbar {
  display: none;
  -webkit-appearance: none;
}


// tablet blogger info
.tablet-blogger-info {
  height: auto;
  padding: 5rem 1.875rem .9375rem;
  position: relative;
}


// tablet blogger photo
.tablet-blogger-photo {
  text-align: center;

  img {
    border-radius: 50%;
    height: $image-size-tablet;
    width: $image-size-tablet;
  }
}

//=================================================
// tablet sidebar menu list

.tablet-sidebar-menu {
  height: auto;
  min-height: 40vh;
  padding: .625rem 1.875rem 1.25rem;
  position: relative;
  text-align: center;
}

.tablet-sidebar-menu-position {
  display: inline-block;
  text-align: center;
  width: 10.625rem;

  a {
    color: $color-text;
    font-size: 1rem;
    font-style: normal;
    text-decoration: none;

    &:hover {
      -webkit-text-stroke: 0.03125rem $color-menu;
      color: $color-menu;
    }
  }
}


.tablet-menu-title {
  font-size: 1.25rem;
  margin: 0;
  padding: 1.1875rem 0 0.375rem;
  white-space: nowrap;
}

.tablet-sidebar-submenu {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 0;
  padding: 0;
}

.tablet-menu-subtitle {
  font-size: 1.0625rem;
  padding: .15rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  

  .tablet-current {
    -webkit-text-stroke: 0.03125rem $color-menu;
    color: $color-menu;
  }
}

.tablet-sidebar-subtitle-number {
  font-size: 0.85rem;
  color: $color-text-dim;
  padding-left: 0.3rem;
}


//=================================================
// tablet footer
.tablet-sidebar-footer {
  height: auto;
  padding: 5rem 1.875rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//=================================================
