{{ define "main" }}

<div class="page">
  <div class="page-content">

    <div class="post-list-intro">
      <div class="post-list-category">{{ title .Type }}</div>
      <div class="post-list-categoryinfo">{{ .Content }}</div>
    </div>

    <ul class="post-list-contents" id="post-lists">
      {{ range .Pages }}
      <li class="post-list-content">
        <a href="{{.Permalink}}">
          <div class="post-list-title">{{ .Title }}</div>
          <div class="post-list-category-name">{{ .Site.Params.userName }} &ensp;|</div>
          <div class="post-list-date">
            {{ .Date.Format "Jan 2, 2006" }}
          </div>
        </a>
      </li>
      {{ end }}
    </ul>

  </div>
</div>

{{ end }}
