//=================================================

.page {
  height: 100vh;
  padding-left: $sidebar-width;

  @media (max-width: $tablet-max) {
    padding-left: 0;
    transition: margin-left .5s;
  }
}

.page-content {
  min-height: inherit;
  padding: 5rem 13% 4.375rem;

  @media (max-width: $tablet-max) {
    padding: 5rem 13% 4.375rem;
  }

  @media (max-width: $mobile-max) {
    padding: 5rem 7% 4.375rem;
  }
}

//=================================================

// Categories Post List "Intro" Styles
.post-list-intro {
  // background-color: #074080; //for test
  height: auto;
  padding: .625rem 0 .9375rem;
}

.post-list-category {
  font-weight: bold;
  font-size: 2rem;
  margin: 0;
  padding: 0 .625rem;
}

.post-list-categoryinfo {
  color: var(--main-text-dim);
  margin: 0;
  padding: .1875rem .625rem 0;
}


// Categories Post List "Intro" Styles
.post-list-contents {
  border-top: .0625rem solid;
  border-top-color: var(--line);
  height: auto;
  padding-inline-start: 0;

  a {
    display: block;
    text-decoration: none;

    &:hover {
      background-color: var(--background-hover);
    }
  }
}

.post-list-content {
  border-bottom: .0625rem solid;
  border-bottom-color: var(--line);
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-list-title {
  color: var(--main-mid);
  font-weight: 400;
  font-size: 1.3125rem;
  margin: 0;
  padding: .9375rem .625rem .75rem;
}

.post-list-excerpt {
  color: var(--main-text);
  font-size: .9375rem;
  margin: 0;
  padding: 0 .625rem;

  p {
    margin: 0;
  }
}

.post-list-category-name {
  color: var(--main-text-dim);
  display: inline-block;
  font-size: .875rem;
  margin: 0;
  padding: 0 0 1.4375rem .625rem;
}

.post-list-date {
  color: var(--main-text-dim);
  display: inline-block;
  font-size: .75rem;
  margin: 0;
  padding: .5rem .3125rem .9375rem;
  text-transform: uppercase;
}


//=================================================
// Post Contents (blog contents) Styles
.post-intro {
  border-bottom: .0625rem solid;
  border-bottom-color: var(--line);
  padding: 0 0 .9375rem;
}

.post-intro-contents {
  padding: 0 .625rem;
}

.post-category {
  color: var(--point-dark);
  font-size: 1.125rem;

  @media (max-width: $mobile-max) {
    font-size: 1rem;
  }
}

.post-title {
  color: var(--main-text);
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: 1.2;
  padding: .625rem 0;

  @media (max-width: $mobile-max) {
    font-size: 1.75rem;
  }
}

.post-penname {
  color: var(--main-text-dim);
  display: inline-block;
  font-size: 1rem;

  @media (max-width: $mobile-max) {
    font-size: .875rem;
  }
}

.post-date {
  color: var(--main-text-dim);
  display: inline-block;
  font-size: .875rem;
  padding-left: .3125rem;
  text-transform: uppercase;

  @media (max-width: $mobile-max) {
    font-size: .75rem;
  }
}

.post-contents {
  font-size: 1.0625rem;
  font-weight: 200;
  padding: .9375rem .625rem 0;

  p {
    line-height: 1.6;
  }

  @media (max-width: $mobile-max) {
    font-size: .9375rem;
  }

  ul, ol {
    @media (max-width: $mobile-max) {
      padding-inline-start: .93rem;
      margin-left: .31rem;
    }
  }

  dl {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  dd {
    @media (max-width: $mobile-max) {
      margin-inline-start: 20px;
    }
  }
}


//=================================================
// Post Styles for multiple posts on one page (e.g. log.html)

.post-multiple {
  border-top: .0625rem solid;
  border-top-color: var(--line);
  padding: 0;
}

.post-multiple-block {
  border: 0.1rem solid;
  border-color: var(--line);
  border-radius: 1.5rem;
  margin: 2.5rem .1rem 3rem;
  padding: .8rem;
}

.post-multiple-intro-contents {
  border-bottom: .0625rem solid;
  border-bottom-color: var(--line);
  padding: .9375rem .625rem;
}

.post-multiple-title {
  color: var(--main-mid);
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
  margin: 0;
  padding: .3rem 0;

  @media (max-width: $mobile-max) {
    font-size: 1.75rem;
  }
}

.post-multiple-penname {
  color: var(--main-text-dim);
  display: inline-block;
  font-size: 0.875rem;

  @media (max-width: $mobile-max) {
    font-size: .75rem;
  }
}

.post-multiple-date {
  color: var(--main-text-dim);
  display: inline-block;
  font-size: .875rem;
  padding-left: .3125rem;
  text-transform: uppercase;

  @media (max-width: $mobile-max) {
    font-size: .75rem;
  }
}

.post-multiple-contents {
  font-size: 1rem;
  font-weight: 200;
  padding: .9375rem .625rem;

  p {
    line-height: 1.6;
  }

  @media (max-width: $mobile-max) {
    font-size: .9rem;
  }
}


//=================================================


.post-video-container {
  position: relative;
  width: 80%;
  max-width: 100%;
  margin: 1.5rem 0;    //auto for center align

  @media (max-width: $tablet-max) {
    width: 100%;
  }
}

.post-video-container iframe {
  filter: brightness(0.8);
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.page-content img {
  filter: brightness(0.8);
  width: 80%;
  max-width: 100%;
  // display: block;    // for center align

  @media (max-width: $tablet-max) {
    margin: 1rem 0;
    width: 100%;
  }
}

.page-content p {
  font-weight: lighter;

  a {
    color: var(--point-dark);
    text-decoration: underline;

    &:hover {
      color: var(--point-light);
    }    
  }
}

.post-contents a {
  color: var(--point-dark);
  text-decoration: underline;

  &:hover {
    color: var(--point-light);
  }
}

.task-list {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.post-contents .task-list-container {
  padding-inline-start: 16px;

  @media (max-width: $mobile-max) {
    padding-inline-start: 0rem;
    
    input[type=checkbox] {
      margin-left: 0;
    }
  }
}

