{{ define "main" }}

<div class="page">
  <div class="page-content">

    <div class="post-list-intro">
      <div class="post-list-category">Latest Posts</div>
    </div>

    <ul class="post-list-contents" id="post-lists">
      {{ range first 10 .Site.RegularPages }}
            <li class="post-list-content"><a href="{{ .RelPermalink }}">
              <div class="post-list-title">{{ .Title }}</div>
              <div class="post-list-category-name">{{ title .Type }} &ensp;|</div>
              <div class="post-list-date">{{ .Date.Format "Jan 2, 2006" }}s</div>
            </a></li>
      {{ end }}
    </ul>

  </div>
</div>

{{ end }}

